#root {
	max-width: 100vw;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #052962;
	background-image: radial-gradient(
		circle at 100% 10%,
		#537ed4 5%,
		transparent 5%
	);
	background-size: 10px 10px;
	background-repeat: repeat;
}

.container {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 20vh;
}

.row {
	position: absolute;
	height: 24vh;
	top: 0vh;
	left: 0;
	width: 100%;
}

#map-wrap {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	visibility: hidden;
	background-color: rgb(166, 173, 183);
	z-index: 15;
}

.map {
	position: absolute;
	right: 22vw;
	top: 3.5vh;
}

.logo {
	position: absolute;
	top: 4vh;
	width: 17vw;
	right: 200px;
}

.slogan {
	position: absolute;
	font-size: 2rem;
	left: 13vw;
	top: 1vh;
	color: rgb(255, 255, 255);
	font-family: "GH Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
	font-weight: bold;
	cursor: default;
	z-index: 1;
}

.search-div {
	margin-top: 5vh;
	top: 20vh;
	margin-left: 40px;
}

.validate {
	color: #ffffff;
}

.country {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.buton-wrap {
	position: absolute;
	top: 11vh;
	left: 21vw;
	z-index: 10;
}

#buton-map {
	width: 115px;
	height: 30px;
	font-size: 20px;
	background-color: transparent;
	color: #ffffff;
	transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
	z-index: 15;
	border-radius: 2px;
	border: 1px solid rgb(188, 187, 187);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#buton-map:hover {
	color: #052962;
	background-color: #ffffff !important;
	cursor: pointer;
	height: 28px;
	width: 114px;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 22px;
	text-transform: uppercase;
	transform: matrix3d(1, 0, -1, 0, 0, 1, 1, 0, 0.5, 0, 0.5, 0, 0, 0, 0, 1);
}

#buton-map:active {
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90);
	-moz-transform: rotateX(90);
	-ms-transform: rotateX(90);
	-o-transform: rotateX(90);
}

.disable-scroll {
	overflow: hidden;
}

.disable-scroll::-webkit-scrollbar {
	width: 0 !important;
	display: none;
}

#AL:hover {
	fill: #c65151;
}

#AD:hover {
	fill: #9d51c6;
}

#AM:hover {
	fill: #b65bb6;
}

#AT:hover {
	fill: #8a6e6e;
}

#BE:hover {
	fill: #ad5748;
}

#BG:hover {
	fill: #508661;
}

#BA:hover {
	fill: #957a9c;
}

#BY:hover {
	fill: #9f0f0f;
}

#CH:hover {
	fill: #e65555;
}

#CZ:hover {
	fill: #519bc6;
}

#DE:hover {
	fill: #827668;
}

#DK:hover {
	fill: #497675;
}

#EE:hover {
	fill: #257ca5;
}

#FI:hover {
	fill: #71a2cd;
}

#GB:hover {
	fill: #4f778d;
}

#GE:hover {
	fill: #876b6b;
}

#GR:hover {
	fill: #666e39;
}

#HR:hover {
	fill: #956281;
}

#HU:hover {
	fill: #5a8168;
}

#IE:hover {
	fill: #4f508b;
}

#IS:hover {
	fill: #79828f;
}

#IT:hover {
	fill: #7d8d42;
}

#LI:hover {
	fill: #dde098;
}

#LT:hover {
	fill: #5d7a14;
}

#LU:hover {
	fill: #bc0000;
}

#LV:hover {
	fill: #763939;
}

#MD:hover {
	fill: #af7aa4;
}

#MK:hover {
	fill: #ea9b73;
}

#ME:hover {
	fill: #654b4b;
}

#NO:hover {
	fill: #786d93;
}

#PL:hover {
	fill: #c65935;
}

#PT:hover {
	fill: #6c532b;
}

#RO:hover {
	fill: #a29520;
}

#RS:hover {
	fill: #5436a0;
}

#SK:hover {
	fill: #7387cc;
}

#SI:hover {
	fill: #4b8ca8;
}

#SE:hover {
	fill: #d1d423;
}

#TR:hover {
	fill: #db4c58;
}

#UA:hover {
	fill: #dce46e;
}

#XK:hover {
	fill: #3a9d89;
}

#NL:hover {
	fill: #e07f0f;
}

#ES:hover {
	fill: #beaf08;
}

#FR:hover {
	fill: #3a997d;
}

#PT:hover {
	fill: #b0905e;
}

#CY:hover {
	fill: #a4dce7;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 94vw;
	}
	.search-div {
		margin-left: 80px;
	}
}

@media screen and (max-width: 1300px) {
	.container {
		width: 92vw;
	}

	.search-div {
		margin-left: 80px;
	}

	.slogan {
		font-size: 1.8rem;
	}

	.logo {
		width: 16vw;
		right: 150px;
	}
}

@media screen and (max-width: 1200px) {
	.search-div {
		margin-left: 20px;
		transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
	}

	.slogan {
		font-size: 1.7rem;
		left: 10vw;
	}

	.logo {
		right: 130px;
		width: 18vw;
	}

	#buton-map {
		margin-left: -3vw;
	}
}

@media screen and (max-width: 1100px) {
	.slogan {
		font-size: 1.6rem;
	}

	.logo {
		right: 120px;
		width: 19vw;
	}
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
	#buton-map {
		margin-top: -3vh;
	}
}

@media screen and (max-width: 1022px) {
	#buton-map {
		margin-top: 0vh;
	}
}

@media screen and (max-width: 1000px) {
	.container {
		width: 90vw;
	}

	.slogan {
		font-size: 1.5rem;
		top: 15px;
	}

	.logo {
		right: 100px;
		width: 20vw;
	}

	.search-div {
		margin-right: 0px;
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
	}

	.container {
		margin-top: 18vh;
	}
}

@media screen and (max-width: 900px) {
	.slogan {
		font-size: 1.35rem;
		top: 14px;
	}

	.logo {
		right: 90px;
		width: 22vw;
	}

	.search-div {
		margin-left: 30px;
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		-ms-transform: scale(0.7);
		-o-transform: scale(0.7);
	}

	#buton-map {
		transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
	}
}

@media screen and (max-width: 820px) and (max-height: 1180px) {
	#buton-map {
		margin-top: -3.5vh;
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
	}
}

@media screen and (max-width: 818px) {
	#buton-map {
		margin-top: 0vh;
	}
}

@media screen and (max-width: 800px) and (max-height: 1280px) {
	#buton-map {
		margin-top: -4vh;
	}
}

@media screen and (max-width: 798px) {
	.container {
		width: 88vw;
	}

	.slogan {
		font-size: 1.3rem;
		top: 11px;
	}

	.search-div {
		margin-left: 40px;
		transform: scale(0.6);
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6);
		-o-transform: scale(0.6);
	}

	#buton-map {
		margin-top: 0vh;
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
	}

	.logo {
		right: 80px;
	}
}

@media screen and (max-width: 700px) {
	.slogan {
		font-size: 1.1rem;
	}

	#buton-map {
		margin-left: -6vw;
	}

	.logo {
		right: 70px;
	}
}

@media screen and (max-width: 650px) {
	.logo {
		right: 60px;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 86vw;
		margin-top: 22vh;
	}

	.logo {
		width: 33vw;
		left: 210px;
		top: 3vh;
	}

	.slogan {
		top: 75px;
	}

	#buton-map {
		margin-top: 55px;
		margin-left: -30px;
	}

	.search-div {
		margin-left: 200px;
		margin-top: 110px;
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		-ms-transform: scale(0.7);
		-o-transform: scale(0.7);
	}
}

@media screen and (max-width: 560px) {
	.logo {
		left: 190px;
	}
}

@media screen and (max-width: 520px) {
	.container {
		width: 84vw;
	}

	.logo {
		left: 180px;
	}
	#buton-map {
		margin-left: -22px;
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: 86vw;
		margin-top: 19vh;
	}

	.logo {
		left: 170px;
	}
	#buton-map {
		margin-left: -22px;
		margin-top: 27px;
	}
}

@media screen and (max-width: 430px) {
	.container {
		margin-top: 18vh;
	}

	.logo {
		left: 150px;
		width: 38vw;
	}
	#buton-map {
		margin-left: -17px;
		margin-top: 29px;
	}

	.search-div {
		margin-top: 100px;
	}

	.row {
		border-top: 1px solid white;
		top: 10px;
	}
	.row::after {
		content: "";
		width: 100vw;
		height: 1px;
		background-color: white;
		transform: translateY(-14px);
		-webkit-transform: translateY(-14px);
		-moz-transform: translateY(-14px);
		-ms-transform: translateY(-14px);
		-o-transform: translateY(-14px);
	}
}

@media screen and (max-width: 414px) {
	.logo {
		left: 140px;
		width: 38vw;
	}

	.row::after {
		transform: translateY(-19px);
		-webkit-transform: translateY(-19px);
		-moz-transform: translateY(-19px);
		-ms-transform: translateY(-19px);
		-o-transform: translateY(-19px);
	}
}

@media screen and (max-width: 390px) {
	.logo {
		left: 125px;
		width: 42vw;
	}

	.slogan {
		top: 70px;
	}

	#buton-map {
		margin-left: -10px;
		margin-top: 34px;
	}

	.search-div {
		margin-top: 95px;
	}

	.row::after {
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
	}
}

@media screen and (max-width: 376px) {
	.container {
		margin-top: 21vh;
	}

	.logo {
		left: 110px;
		width: 44vw;
		top: 3.3vh;
	}

	.slogan {
		top: 65px;
		font-size: 1rem;
		left: 11vw;
	}

	#buton-map {
		margin-left: -10px;
		margin-top: 40px;
	}

	.search-div {
		margin-top: 93px;
	}

	.row::after {
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
	}
}

@media screen and (max-width: 360px) {
	.container {
		margin-top: 24vh;
	}

	.logo {
		top: 3.6vh;
	}

	#buton-map {
		margin-top: 48px;
	}

	.row::after {
		transform: translateY(-22px);
		-webkit-transform: translateY(-22px);
		-moz-transform: translateY(-22px);
		-ms-transform: translateY(-22px);
		-o-transform: translateY(-22px);
	}
}

@media screen and (max-width: 320px) {
	.container {
		margin-top: 22.5vh;
	}

	.logo {
		left: 100px;
	}

	.slogan {
		top: 55px;
	}

	#buton-map {
		margin-left: 130px;
		margin-top: 10px;
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		-ms-transform: scale(0.7);
		-o-transform: scale(0.7);
	}

	.search-div {
		margin-top: 102px;
		margin-left: 10px;
		transform: scale(0.65);
		-webkit-transform: scale(0.65);
		-moz-transform: scale(0.65);
		-ms-transform: scale(0.65);
		-o-transform: scale(0.65);
	}

	.row::after {
		transform: translateY(-32px);
		-webkit-transform: translateY(-32px);
		-moz-transform: translateY(-32px);
		-ms-transform: translateY(-32px);
		-o-transform: translateY(-32px);
	}
}

@media screen and (max-width: 280px) {
	.container {
		width: 76vw;
	}
}
